@charset "utf-8";

body {
   margin: 0;
   padding: 0;
   font-size: 0.9em;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   color: black;
   text-decoration: none;
}

p {
   margin: 0;
}

/* 고정형 레이아웃 */
.wrap {
   min-width: 1300px;
   overflow: hidden;
}

/* 헤더 */
header {
   position: relative;
}
.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid rgb(193, 193, 193);
   background-color: white;
   width: 100%; /* 직방은 메뉴의 width가 100% */
}

.nav__menu li {
   /* 하위 메뉴 만들기 위해 적용 */
   position: relative;
   top: 0;

   /* 수평정렬 */
   display: inline-block;
   padding: 20px;
}

.nav .login {
   font-size: 12px;
   background-color: rgb(232, 232, 232);
   border: 1px solid rgb(202, 202, 202);
   border-radius: 5px;
   color: black;
   width: 125px;
   height: 30px;
   margin-right: 20px;
}
.nav .right-menu__btn {
   width: 113px;
}
.right-menu {
   display: flex;
   justify-content: flex-end;
}
.right-menu .right-menu__btn {
   display: flex;
   cursor: pointer;
   align-items: center;
   font-size: 16px;
   width: auto;
   line-height: 20px;
   padding: 22px 0;
   padding-left: 14px;
   padding-right: 10px;
   text-align: right;
   font-weight: 700;
   color: #05372d;
   justify-content: flex-end;
}
.right-menu .right-menu__btn:hover {
   background-color: rgb(225, 225, 225);
}

.card__wrap {
   display: flex;
   width: 840px;
   margin: 45px auto 20px;
   flex-direction: row;
}
.card__list {
   margin-right: 30px;
}
.card__list:last-child {
   margin-right: 0;
}
.card__list .card__top {
   border-bottom: 1px solid #e1e1e1;
   margin-bottom: 20px;
   padding-bottom: 10px;
}
.card__list .card__top h3 {
   font-size: 16px;
   font-weight: 700;
   margin: 0;
}
.card__list .card__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.card__list .card__top a {
   display: inline-block;
   width: 60px;
   height: 30px;
   line-height: 27px;
   text-align: center;
   background-color: #eee;
   border-radius: 3px;
}
.card__list .card__top a span {
   font-size: 11px;
   color: #757575;
}
.card__list .card__bot img {
   width: 260px;
}

/* 본메뉴 */
.w1 {
   display: block;
   font-size: 17px;
   font-weight: bold;
}
.w2 {
   display: block;
   font-size: 13px;
}

/* 하위메뉴 */
.sub-menu {
   display: none;
   width: 200px;
   background-color: white;

   /* 하위 메뉴 만들기 위해 absolute 적용(li 태그를 기준으로 한다) */
   position: absolute;

   /* 하위 메뉴가 나타날 적절한 위치를 찾아 적용한다 */
   top: 85px;
   border: 1px solid rgb(202, 202, 202);
}

.nav__menu li:hover .sub-menu {
   display: block;
}

.sub-menu > li {
   padding: 10px;
}

/* 메인 배너 */
.main__banner {
   position: relative;
   height: 460px;
   background: url('../images/bg.jpg') no-repeat center / cover;
}
.main__banner-in {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.main__banner-in p {
   text-align: center;
   font-size: 40px;
   margin-bottom: 45px;
   font-weight: 700;
   color: #fff;
}
.search__input {
   display: flex;
   width: 574px;
   margin-top: 25px;
}
.search__input label {
   width: calc(100% - 65px);
   background-color: #fff;
   overflow: hidden;
   border-radius: 7px 0 0 7px;
}
.search__input input {
   width: 100%;
   height: 60px;
   line-height: 60px;
   padding: 0 10px 0 30px;
   border: 0;
   outline: none;
}
.search__input input::placeholder {
   color: #a6a6a6;
}
.search__input a {
   display: inline-block;
   border-radius: 0 7px 7px 0;
   width: 65px;
   height: 60px;
   background-color: #ff681b;
}
.search__input a i {
   display: block;
   text-align: center;
   font-size: 22px;
   color: #fff;
   height: 60px;
   line-height: 60px;
}

.tab-menu {
   width: 574px;
   height: 40px;
   line-height: 40px;
   display: flex;
   background-color: rgba(4, 17, 59, 0.8);
   font-weight: 900;
   border-radius: 10px;
}

.tab-sub {
   width: 20%;
   text-align: center;
   color: white;
}

.tab-sub.sub1 {
   background-color: white;
   width: 20%;
   text-align: center;
   color: black;
   border-radius: 8px;
}
